@import 'bootstrap';
@import url(https://fonts.googleapis.com/css?family=Oswald:300);




body {
  padding-top: 20px;
    font-family: 'Oswald', sans-serif !important;
	background: #2E394A !important;
	background: url('bg.png') no-repeat center center fixed !important;
}

html {
  overflow-y: scroll;
}

.library-item {
  min-height: 100px;
}


.navbar {
    background-color: rgba(33,52,56,.80) !important;
    
}
