<h1>NAPOJE I DESERY</h1>

<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'drinks.index' tagName="li"}}<a href="">Pokaż wszystkie</a>{{/link-to}}
    {{#link-to 'drinks.new' tagName="li"}}<a href="">Dodaj nowe danie</a>{{/link-to}}
  </ul>
</div>

{{outlet}}