<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}DI STRADA{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
            {{#link-to 'index' tagName="li"}}<a href="">Kilka Słów</a>{{/link-to}}
            {{#link-to 'pizzas' tagName="li"}}<a href="">Pizza</a>{{/link-to}}
            {{#link-to 'zuppas' tagName="li"}}<a href="">Zuppa</a>{{/link-to}}
            {{#link-to 'insalates' tagName="li"}}<a href="">Insalate</a>{{/link-to}}
            {{#link-to 'alforno' tagName="li"}}<a href="">Pasta al Forno</a>{{/link-to}}
            {{#link-to 'pasta' tagName="li"}}<a href="">Pasta</a>{{/link-to}}
            {{#link-to 'secondi' tagName="li"}}<a href="">Secondi</a>{{/link-to}}
            {{#link-to 'dolci' tagName="li"}}<a href="">Dolci</a>{{/link-to}}
            {{#link-to 'napoje' tagName="li"}}<a href="">Napoje</a>{{/link-to}}
           
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
