<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Example label</label> {{input type="email" value=titleM class="form-control" placeholder="Please
    type your e-mail address." autofocus="autofocus"}}
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Example textarea</label> {{input type="email" value=messageM class="form-control" placeholder="Please
    type your e-mail address." autofocus="autofocus"}}
  </div>
  <button class="btn btn-primary" {{action 'sendNotification'}}>Wyślij</button>
</form>