
<h1>MAKARONY</h1>
<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'pastas.index' tagName="li"}}<a href="">Pokaż wszystkie</a>{{/link-to}}
    {{#link-to 'pastas.new' tagName="li"}}<a href="">Dodaj nowe danie</a>{{/link-to}}
  </ul>
</div>

{{outlet}}
