<h1>PIZZA</h1>
<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'pizzas.index' tagName="li"}}<a href="">Pokaż wszystkie</a>{{/link-to}}
    {{#link-to 'pizzas.new' tagName="li"}}<a href="">Dodaj nową pizzę</a>{{/link-to}}
  </ul>
</div>

{{outlet}}
