<h1>DRUGIE DANIE</h1>
<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'secondis.index' tagName="li"}}<a href="">Pokaż wszystkie</a>{{/link-to}}
    {{#link-to 'secondis.new' tagName="li"}}<a href="">Dodaj nowe danie</a>{{/link-to}}
  </ul>
</div>

{{outlet}}