<h1>STARTERY</h1>
<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'starters.index' tagName="li"}}<a href="">Pokaż wszystkie</a>{{/link-to}}
    {{#link-to 'starters.new' tagName="li"}}<a href="">Dodaj nowy starter</a>{{/link-to}}
  </ul>
</div>

{{outlet}}
