
<h1>ZUPY</h1>

<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'zuppas.index' tagName="li"}}<a href="">Pokaż wszystkie</a>{{/link-to}}
    {{#link-to 'zuppas.new' tagName="li"}}<a href="">Dodaj nową zupę</a>{{/link-to}}
  </ul>
</div>

{{outlet}}
